/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
}
input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

.navbar {
    font-size: 16px;
    padding: 12px;
    box-shadow: 0px 7px 10px rgba(32, 180, 56, 0.35);
}
.navbar-brand {
    font-size: 22px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: #198754;
}
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(32, 180, 56, 0.56);
}
/* characters.html */
.page-title {
    text-align: center;
    margin: 50px 0;
}
.title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #198754;
    line-height: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.card {
    box-shadow: 0px 7px 10px rgba(32, 180, 56, 0.56);
    transition: 0.5s ease-in-out;
}
.card:hover {
    transform: translateY(-7px);
    opacity: 1;
    box-shadow: 0px 7px 10px rgba(32, 180, 56, 0.56);
    cursor: pointer;
}

.card-img-top {
    max-height: 235px;
}
.card-body {
    padding-top: 30px;
}
.card-title {
    font-size: 18px;
    color: #198754;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer {
    padding: 100px 0 50px 0;
    color: #000;
    font-size: 16px;
}
.footer a {
    color: #000;
    /* font-size: 16px; */
}
.footer a:hover {
    color: #198754;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #198754;
}

.footer-nav-item {
    padding: 7px;
}
.fcopy {
    text-align: center;
}

/* spider-man.html */
.characters-title {
    font-size: 18px;
    margin-top: 30px;
    border-bottom: 1px solid #198754;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
.characters-title p {
    margin-bottom: 25px;
}
.characters-title strong {
    display: inline-block;
    margin-right: 20px;
    min-width: 100px;
    font-weight: 500;
}
.characters-photo {
    margin-top: 30px;
    text-align: center;
    /* padding-top: 25px; */
    /* background: url(/img/background.jpg) no-repeat center center; */
}
.photo {
    box-shadow: 0 15px 65px rgba(32, 180, 56, 0.4);
    padding: 5px 0;
    border-radius: 25px;
}
.photo-radius {
    border-radius: 25px;
}
.characters-name {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.characters-abilities {
    font-size: 18px;
    border-bottom: 1px solid #198754;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
.subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.abilities li {
    list-style: disc;
    padding-bottom: 20px;
}
.characters-biography {
    font-size: 16px;
    /* font-weight: 300; */
    padding-bottom: 20px;
    line-height: 20px;
    text-indent: 30px;
}
.img-custom-card {
    width: 75%;
    display: block;
    margin: auto;
}
